// MAIN CONTENT ZONE
// ----------------------------------------------------------------------------

// Take height of wrapper
.card,
.card-block,
nav {
  height: 100%;
}

.card {
  border-width: 0;
  background-color: transparent;
}

.card-block {
  padding: 0;
  border-width: 0;
}

nav {
  position: relative;
  z-index: 10;
}

// COMMON
// ----------------------------------------------------------------------------

ul {

  min-height: 100%;


  > li:not(:last-child) {
    margin-bottom: 0;
  }

}

li {
  border-bottom: 1px solid grey;
}

a {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.5rem;
  font-size: 0.78rem;
  font-weight: 700;

  &:hover {
    background-color: grey;
  }

  &.opened,
  &.active {
    background-color: red;
    color: #fff;
  }
}

[class*='app-icon'] {
  font-size: 0.75rem;
  margin-right: 0.6rem;
}

// LEVEL 1
// ----------------------------------------------------------------------------
.lvl1 {
  position: relative;
  background-color: #fff;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);

  // Both lvl2 and lvl3
  // ------------------------------------------------
  ul {
    transition: transform 0.1s ease-in-out;
    transform: translateX(-100%);

    a {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  }

}

// LEVEL 2 / 3
// NB : we have a lvl3-wrapper here, otherwise we can't prevent it to be above lvl2 when not opened
// ----------------------------------------------------------------------------
.lvl2,
.lvl3-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

// LEVEL 2
// ----------------------------------------------------------------------------
.lvl2 {
  // Below lvl1
  z-index: -1;
  bottom: 0;
  background-color: blue;

  .lvl1 &.opened {
    transform: translateX(0);
  }

  li {
    // lvl3 must be positionned from here
    position: relative;
  }

  // Arrow if it opens lvl3
  .trigger-subnav {
    position: relative;

    &:after {
      position: absolute;
      right: 0.76rem;
      top: 50%;
      font-family: 'app-icon';
      content: '\e859';
      transition: transform 0.1s ease-in-out;
      transform: translateY(-50%) rotate(0);
      font-size: 1.1em;
      font-weight: 400;
    }

    &.opened:after {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

// LEVEL 3
// ----------------------------------------------------------------------------
.lvl3-wrapper {

  // Prevent from being above lvl2
  overflow: hidden;

  // When lvl2 is closed, its lvl3 can be above another opened lvl2 so we hide it
  display: none;

  .lvl2.opened & {
    display: block;
  }

  .lvl3 {
    background-color: #fff;
    position: relative;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;

    // Create a shadow like if it came from lvl2 (we can't do it for real because lvl3 is actually above lvl2)
    &:before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
      width: 4px;
      box-shadow: inset 2px 0 2px rgba(0, 0, 0, 0.1);
    }

    li {
      border-bottom-width: 0;
    }

    a {
      font-weight: 400;
      padding-top: 0.35rem;
      padding-bottom: 0.35rem;
    }
  }

  &.opened .lvl3 {
    transform: translateX(0);
  }
}
