<section class="rbt-container">
    <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="box-container">
            <h1 class="h1-like right-line">Contactez nous</h1>

            <form (ngSubmit)="onSubmit()" #contactForm="ngForm" [hidden]="submitted">
              <div class="form-group">
                <input type="text" name="name" id="name" [(ngModel)]="model.name" class="form-control" placeholder="Nom" required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                  <div *ngIf="name.errors.required">
                    Le nom est obligatoire
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="email" id="email" [(ngModel)]="model.email" class="form-control" placeholder="E-Mail" required email #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                  <div *ngIf="email.errors.required">L'Email est obligatoire.</div>
                  <div *ngIf="email.errors.email">L'email n'est pas valide.</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="phone" id="phone" [(ngModel)]="model.phone" class="form-control" placeholder="Téléphone">
              </div>
              <div class="form-group">
                <textarea name="message" id="message" [(ngModel)]="model.message" rows="5" class="form-control" placeholder="Message" required #message="ngModel"></textarea>
                <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error">
                  <div *ngIf="message.errors.required">Veuillez saisir un message.</div>
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="!contactForm.form.valid" class="btn btn-primary">Envoyer</button>
              </div>
            </form>

            <div [hidden]="!submitted" class="contact-message">
                <h2 class="success">Votre message a bien été envoyé</h2>

                <button (click)="gotoHome()" class="btn btn-info">Retour à la page d'accueil</button>
            </div>

  <div class="mt-5">
            <h2 class="h3">ROBOTILE SAS :</h2>
            <ul>
              <li> Siège : 86 rue de Paris – Incuballiance – 91400 ORSAY</li>
              <li> bureaux : 5 rue Sainte Barbe – BP 26 – 91590 La Ferté Alais.
              </li>
              <li><a href="mailto:serge.semete@robotile.fr">serge.semete@robotile.fr</a>
                <a href="tel:06 85 94 34 24"> - 06 85 94 34 24</a>

              </li>
              <li><a href="mailto:zakaria.ait-tahar@robotile.fr">zakaria.ait-tahar@robotile.fr</a></li>
            </ul>
            <p>ROBOTILE est l’un des Lauréats du Réseau Entreprendre Essonne de la promotion 2019.</p>
<figure>
  <img src="assets/images/logo-network.png" alt="logo réseau entreprendre" />
</figure>
          </div>
        </div>
      </div>

    </div>
</section>
