<header id="header" class="page-header">
  <button class="page-header__burger" (click)="toggleMenu()">
    <span class="page-header__burger-icon"></span>
  </button>
  <div class="page-header__logo">
    <a href="#" routerLink="home">
      <img src="assets/images/logo-robotile.png" alt="logo robotile" title="logo robotile" />
    </a>

  </div>
  <div class="page-header__nav">
    <a href="#" routerLink="carlita" routerLinkActive="carlita" class="page-header__btn">
      <span class="page-header__btn-text">Carlita (R)</span>
    </a>
    <a href="#" routerLink="contact" routerLinkActive="contact" class="page-header__btn">
      <span class="page-header__btn-text">Contactez-nous</span>
    </a>
  </div>
</header>
