<header id="header" class="page-header">
  <button class="page-header__burger" (click)="toggleMenu()">
    <span class="page-header__burger-icon"></span>
  </button>
  <div class="page-header__logo">
    <a href="/fr/">
      <img src="assets/images/logo-robotile.png" alt="logo robotile" title="logo robotile" />
    </a>

  </div>
  <div class="page-header__nav">
    <a href="#" class="page-header__btn">
      <span class="page-header__btn-text">Robotile</span>
    </a>
    <a href="#" class="page-header__btn">
      <span class="page-header__btn-text">Carlita (R)</span>
    </a>
    <a href="#" class="page-header__btn">
      <span class="page-header__btn-text">Contact</span>
    </a>
  </div>
</header>
