<section class="rbt-container">
  <div class="box-container">
    <h1 class="h1-like right-line">Carlita</h1>
    <div class="row">
      <div class="col-md-9">
        <h2 class="subtitle">
          RoboTile lance Carlita, la première machine d’assistance française à la pose de carrelage</h2>
        <p>Carlita accélère la pose des grands formats de carreaux en réduisant la pénibilité et en optimisant la qualité de pose. Carlita est opérée par un compagnon carreleur, qui ne supporte plus directement le poids du carreau à poser et ne doit plus s’agenouiller pour effectuer ce travail. Il en résulte un gain de temps, un confort des postures de travail et une qualité de pose optimale, sans reprise.</p>
      </div>
      <div class="col-md-3">
        <img src="assets/images/carlita/carlita-mascot.jpg" class="w-100" alt="mascotte carlita"/>
      </div>
    </div>
    <video autoplay loop muted playsinline controls class="w-100">

      <source src="assets/videos/pose-carlita.MOV" type="video/mp4" />
      Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
    </video>

    <div class="card text-white bg-blue mb-3">
      <!--<div class="card-header">Header</div>-->
      <div class="card-body">
        <h5 class="h2 card-title">Une machine innovante pour la pose de revêtements de sol durs :</h5>
        <p class="card-text">Carlita est une machine d’assistance à la pose des carreaux et dallages de grandes dimensions, pour les zones sans découpe. Carlita intervient sur des surfaces de pose supérieures à 10 m<sup>2</sup> et des formats à partir de 900 cm<sup>2</sup> jusqu’à 10.000 cm<sup>2</sup> en simple encollage.</p>
        <p class="card-text">Carlita a un rendement de pose minimum de 40 m<sup>2</sup> par jour, doublant le rendement du compagnon sans effort, ni positions douloureuses. Le carreau est déplacé à la main par l’opérateur qui finalise son positionnement sans désaffleurement.</p>
      </div>
    </div>
    <h3 class="h3">La pose des grands formats:</h3>
     <p>La pose de grands formats devient un standard,
       avec des rendements de pose qui diminuent et des éléments lourds qui
       nécessitent souvent deux compagnons lors de la pose.</p>

    <h3 class="h3">La solution Carlita: des essais chantier concluants</h3>
    <p>Les tests réalisés en chantier et avec les élèves et professeurs du Lycée
      Professionnel Gustave Eiffel de Massy (formation Carreleur-Mosaïste)
      ont validés les attendus : une vitesse de pose doublée sans effort et une
      qualité de pose au moins équivalente à la pose manuelle.</p>

    <h3 class="h3">
      La prévention des TMS: plus de positions douloureuses</h3>
    <p>Une solution à la manutention répétitive de charges de plus en plus lourdes avec un geste de pose qui reste manuel et qui permet un positionnement précis du carreau quel que soit sont format.</p>
    <figure>
      <img src="assets/images/carlita/carlita-exploded-view.jpg" class="mw-100" />
    </figure>



    <p>Carlita est constituée de 7 éléments de moins de 25 kilos chacun :</p>

    <p>Elle est transportable dans une voiture particulière. Elle est montable et démontable en moins de 5 minutes par une seule personne.</p>

    <p>Carlita fonctionne sur secteur ou sur batterie.</p>

    <p>Carlita peut être chargée en carreaux directement depuis la palette de transport sans avoir recours à une manutention pénible.</p>

    <p>Carlita permet également de décoller facilement un carreau qui vient d’être collé.</p>

    <p>Carlita permet la pose de 4 carreaux à la fois, pour les formats de 30x30 à 50x50.</p>

    <p><strong>Carlita ne fait pas le café, mais vous donne le temps d’en prendre un tranquilement</strong></p>

     </div>
</section>
