<section class="rbt-container">
  <div class="box-container">
    <h1 class="h1-like right-line">Carlita</h1>
    <p class="subtitle">
      Une machine d’assistance mécanique à la pose à la pose de carrelage en France, elle intervient sur des surfaces de pose supérieures à 10m2 et des formats allant de 900 cm2 jusqu’à 10 000 cm2.
    </p>
    <video autoplay loop muted playsinline controls class="w-100">

      <source src="assets/videos/pose-carlita.mov" type="video/mp4" />
      Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
    </video>

    <p class="paraph-like-1">Carlita est constituée de 7 éléments de moins de 25 kilos chacun. Elle est transportable dans une voiture particulière. Elle est montable et démontable en moins de 5 minutes par une seule personne.</p>
    <p class="paraph-like-1">Carlita fonctionne sur secteur ou sur batterie.</p>
    <p class="paraph-like-1">Carlita peut se charger directement depuis une palette sans avoir recours à une manutention pénible.</p>
    <p class="paraph-like-1">Carlita permet également de décoller facilement un carreau qui vient d’être collé.</p>
    <p class="paraph-like-1">Carlita permet la pose de 4 carreaux à la fois, pour les formats de 30x30 à 50x50.</p>
    <p class="paraph-like-1">Carlita ne fait pas le café, mais vous donne le temps d’un prendre un tranquilement</p>
  </div>
</section>
